<!-- 
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav>
    <p>Menu Content</p>
  </mat-sidenav>

  <mat-drawer-container
    class="example-container"
    autosize>
    <mat-drawer
      #drawer
      class="example-sidenav"
      mode="side">
      <p>Auto-resizing sidenav</p>
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    </mat-drawer>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</mat-sidenav-container>

 -->

<mat-drawer-container
  class="example-container"
  autosize>
  <mat-drawer
    #sidenav
    class="example-sidenav"
    mode="side">
    <mat-list role="list">
      <mat-list-item role="createOpportunity">
        <button
          (click)="openCreateOpportunity()"
          mat-button>
          Add Opportunity
        </button>
      </mat-list-item>
      <mat-list-item role="createPerson">
        <button
          (click)="openCreatePerson()"
          mat-button>
          Add Person
        </button>
      </mat-list-item>
      <mat-list-item role="createPerson">
        <button
          (click)="openRelatePersonOpportunity()"
          mat-button>
          Relate Person/Opportunity
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div *ngIf="asyncSpinnerVisible">
      <app-async-spinner></app-async-spinner>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
