<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome to AGPIT</mat-card-title>
    <mat-card-subtitle
      >Australian Government Procurement Investigation Tool</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    src="/images/AGPIT_image_1.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <b> AGPIT helps </b>
    <ul>
      <li>Connect people with opportunities</li>
      <li>Track complex relationships between contacts</li>
      <li>Visualise complex decision making</li>
    </ul>
  </mat-card-content>
  <!-- 
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
   -->
</mat-card>
