/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.links { 
    stroke: #999; 
    stroke-opacity: 0.6; 
    stroke-width: 1px; 
    }

    text {
    pointer-events: none;
    fill: #000;
    font: 10px sans-serif;
    }
